@media (min-width: 992px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 767.98px) {
  .navbar-dark .navbar-toggler {
    margin-top: -50px;
    color: rgba(9, 36, 62, 0.773);
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-dark .navbar-toggler {
    margin-top: -50px;
    margin-left: 90px;
    color: rgba(9, 36, 62, 0.773);
    border: none;
  }
  .container {
    max-width: 720px;
  }
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-dark .navbar-toggler {
    margin-top: -50px;
    margin-left: 50px;
    color: rgba(9, 36, 62, 0.773);
    border: none;
  }
  .container {
    max-width: 960px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar-dark .navbar-toggler {
    margin-top: -50px;
    margin-left: 50px;
    color: rgba(9, 36, 62, 0.773);
    border: none;
  }
  .container {
    max-width: 1140px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
