:root {
  --blue: $mainbackground;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #09243f;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #09243f;
  --primary: $mainbackground;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #09243f;
  --warning: #ffc107;
  --danger: #dc3545;
  --dark: $mainbackground;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.navbar {
  height: 5%;
  width: 100% !important;
}
.navbar .navbar-nav {
  margin-top: -10px;
}
.navbar .navbar-expand-lg > .container-fluid,
.navbar .navbar {
  background-color: #06223d;
  z-index: 9999;
}

.img_size {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

.container {
  max-width: 540px;
}
.container .container-sm {
  max-width: 540px;
}

.me {
  width: 100%;
}
.me .about {
  width: 100%;
  position: relative;
  right: 100px;
  bottom: -55px;
}
.me .about h1 {
  font-size: 18px;
}
.me .about p {
  margin-top: 20px;
  font-size: 16px;
}
.me .my-img {
  width: 100%;
  left: 0%;
  top: 20px;
}
.me .my-img img {
  width: 40%;
  position: relative;
  left: 30%;
  bottom: 320px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 5px solid #fff;
}

.testimonials {
  width: 100%;
}
.testimonials h2 {
  margin-bottom: 0;
}
.testimonials .lead {
  margin-bottom: 15px;
}

.resize {
  margin-left: 100px;
}

.Testimo {
  margin-right: -100px;
}

.skill-bx {
  margin-bottom: 20px;
}
.skill-bx h3 {
  font-size: 25px;
}
.skill-bx .rate {
  font-size: 43px;
}

.hire {
  width: 13%;
  color: #86e682;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1000;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

footer .left {
  bottom: -34px;
}
footer .socials .i_icone {
  color: #fff;
  margin-right: 5px;
  font-size: 25px;
}
footer .copyright {
  position: relative;
  top: 50px;
}

@media (min-width: 500px) and (max-width: 767px) {
  .bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .navbar {
    height: 5%;
  }
  .img_size {
    width: 80%;
    height: 80%;
  }
  .me {
    width: 100%;
  }
  .me .about {
    width: 100%;
    position: relative;
    left: -100px;
    bottom: -55px;
  }
  .me .about h1 {
    font-size: 19px;
  }
  .me .about p {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .me .my-img {
    width: 100%;
    left: 0%;
    top: 20px;
  }
  .me .my-img img {
    width: 60%;
    position: relative;
    left: 5%;
    bottom: 300px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 5px solid #fff;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 8%;
  }
  .container {
    max-width: 720px;
  }
  .container .container-sm,
  .container .container-md {
    max-width: 720px;
  }
  header {
    padding: 150px 0 50px 0;
  }
  header .bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .btn-group {
    flex-wrap: wrap;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 5px;
  }
  .popup {
    max-width: 100%;
  }
  .popup h2 {
    font-size: 30px;
  }
  .hire {
    width: 13%;
  }
  .me {
    width: 100%;
  }
  .me .about {
    width: 100%;
    position: relative;
    left: -100px;
    bottom: -55px;
  }
  .me .about h1 {
    font-size: 25px;
  }
  .me .about p {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .me .my-img {
    width: 100%;
    left: 0%;
    top: 20px;
  }
  .me .my-img img {
    width: 60%;
    position: relative;
    left: -20%;
    bottom: 350px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 5px solid #fff;
  }
  footer .copyright {
    top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1 !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .resize {
    margin-left: 68px;
  }
  .Testimo {
    margin-right: -39px;
  }
  .hire {
    width: 16%;
    font-size: 20px;
  }
  .me {
    width: 100%;
  }
  .me .about {
    width: 100%;
    position: relative;
    left: -100px;
    bottom: -55px;
  }
  .me .about h1 {
    font-size: 25px;
  }
  .me .about p {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .me .my-img {
    width: 100%;
    left: 0%;
    top: 20px;
  }
  .me .my-img img {
    width: 60%;
    position: relative;
    left: 10%;
    bottom: 250px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 5px solid #fff;
  }
  .skill-bx h3 {
    font-size: 15px;
  }
  .grid-item {
    width: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .container {
    max-width: 960px;
  }
  .container .container-sm,
  .container .container-md,
  .container .container-lg {
    max-width: 960px;
  }
  header {
    padding: 200px 0;
  }
  section {
    padding: 50px 0;
  }
  section h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .navbar .navbar-brand {
    max-width: 190px;
  }
  .me {
    width: 100%;
  }
  .me .about {
    width: 100%;
    position: relative;
    left: -100px;
    bottom: -55px;
  }
  .me .about h1 {
    font-size: 44px;
  }
  .me .about p {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .me .my-img {
    width: 100%;
    left: 0%;
    top: 20px;
  }
  .me .my-img img {
    width: 90%;
    position: relative;
    left: -20%;
    bottom: 250px;
  }
}
@media (min-width: 1200px) {
  .bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .container {
    max-width: 1140px;
  }
  .container .container-sm,
  .container .container-md,
  .container .container-lg,
  .container .container-xl {
    max-width: 1140px;
  }
  .img_size {
    width: 110%;
    height: 110%;
  }
  .me {
    width: 100%;
  }
  .me .about {
    width: 100%;
    position: relative;
    left: -100px;
    bottom: -55px;
  }
  .me .about h1 {
    font-size: 45px;
  }
  .me .about p {
    width: 100%;
    margin-top: 20px;
    font-size: 21px;
  }
  .me .my-img {
    width: 100%;
  }
  .me .my-img img {
    width: 100%;
    position: relative;
    left: -31%;
    bottom: 250px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 5px solid #fff;
  }
}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none;
    box-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body,
  .container {
    min-width: 992px;
  }
  .navbar {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */