@import "styleimpo";

// Base Styles
.navbar {
  height: 9%;
  width: 100% !important;
  background-color: $mainbackground;
  z-index: 9999;
  
  .navbar-toggler {
    position: relative;
    bottom: 10px;
    right: 15px;
    background-color: $mainbackground;
    &:hover {
      background-color: #0e2032;
    }
  }
  
  .navbar-nav {
    margin-top: -10px;
  }
}

.img_size {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

.container {
  max-width: 540px;
  
  .container-sm {
    max-width: 540px;
  }
}



.me {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .about {
    width: 100%;
    position: relative;
    left: 150px;
    bottom: -190px;
    p {
      font-size: 20px;
    }
  }
  
  .my-img {
      width: 50%;
      position: relative;
      top: 250px;
      right: 415px ;
      max-width: 280px;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px $mainshadow;

  }
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    bottom: -34px;
  }
  
  .socials .i_icone {
    color: #fff;
    margin-right: 5px;
    font-size: 25px;
  }
  
  .copyright {
    position: relative;
    top: 50px;
  }
}

// Media Queries
@media (max-width: 767px) {
  header {
    padding: 50px 0; // Reduce padding for mobile
  }
  .navbar, .footer, .me {
    margin: 0;
    padding: 0;
  }
  .navbar {
    height: 5%;
  }
  
  .img_size {
    width: 80%;
    height: 80%;
  }
  
  .me {
    width: 110%;
    display: flex;
    align-items: center;
    
    .about {
      width: 80%;
      left: -10px;
      bottom: -100px;
      p {
        font-size: 16px;
      }
    }
    
    .my-img {
      width: 40%;
      position: relative;
      top: 70px;
      right: 0;
      max-width: 280px;
    }
  }


}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 8%;
  }
  
  .container {
    max-width: 720px;
  }
  
  .me {
    width: 50%;
    
    .about {
      width: 50%;
    }
    .my-img {
      width: 50%;
      position: relative;
      top: 250px;
      right: 300px!important;
      max-width: 280px;
  
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  
  .me {
    width: 50%;
    
    .about {
      width: 90%;
    }
    
    .my-img {
        width: 50%;
        position: relative;
        top: 250px;
        right: 300px !important;
        max-width: 280px;
    
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  
  .img_size {
    width: 110%;
    height: 110%;
  }
  
  .me {
    width: 50%;
    
    .about {
      width: 90%;
      h1{
        font-size: 40px !important;
      }
    }
    
    .my-img {
      width: 50%;
      position: relative;
      top: 250px;
      right: 660px ;
      max-width: 280px;
  
  }

}

// Print Styles
@media print {
  *, *::before, *::after {
    text-shadow: none;
    box-shadow: none;
  }
  
  a:not(.btn) {
    text-decoration: underline;
  }
  
  tr, img {
    page-break-inside: avoid;
  }
  
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  
  h2, h3 {
    page-break-after: avoid;
  }
  
  @page {
    size: a3;
  }
  
  body, .container {
    min-width: 992px;
  }
  
  .navbar {
    display: none;
  }
}
}