:root {
  --blue: $mainbackground;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #09243f;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #09243f;
  --primary: $mainbackground;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #09243f;
  --warning: #ffc107;
  --danger: #dc3545;
  --dark: $mainbackground;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.navbar {
  height: 9%;
  width: 100% !important;
  background-color: #06223d;
  z-index: 9999;
}
.navbar .navbar-toggler {
  position: relative;
  bottom: 10px;
  right: 15px;
  background-color: #06223d;
}
.navbar .navbar-toggler:hover {
  background-color: #0e2032;
}
.navbar .navbar-nav {
  margin-top: -10px;
}

.img_size {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

.container {
  max-width: 540px;
}
.container .container-sm {
  max-width: 540px;
}

.me {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me .about {
  width: 100%;
  position: relative;
  left: 150px;
  bottom: -190px;
}
.me .about p {
  font-size: 20px !important;
}
.me .my-img {
  width: 50%;
  position: relative;
  top: 250px;
  right: 415px;
  max-width: 280px;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(5, 23, 41, 0.4666666667);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .left {
  bottom: -34px;
}
footer .socials .i_icone {
  color: #fff;
  margin-right: 5px;
  font-size: 25px;
}
footer .copyright {
  position: relative;
  top: 50px;
}

@media (max-width: 767px) {
  header {
    padding: 50px 0;
  }
  .me {
    margin: 0;
    padding: 0;
    margin-top: -350px !important;
    margin-left: -15px !important;
  }
  .me .about {
    position: relative !important;
    left: 5px !important;
    bottom: -65px !important;
  }
  .navbar {
    height: 5%;
  }
  .img_size {
    width: 80%;
    height: 80%;
  }
  .me {
    width: 110%;
    display: flex;
    align-items: center;
  }
  .me .about {
    width: 80% !important;
  }
  .me .about .about h1 {
    font-size: 40px !important;
  }
  .me .about .about p {
    font-size: 16px;
  }
  .me .my-img {
    width: 40%;
    position: relative;
    top: 70px;
    right: 0;
    max-width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 8%;
  }
  .container {
    max-width: 720px;
  }
  .me {
    width: 50%;
  }
  .me .about h1 {
    font-size: 40px !important;
  }
  .me .my-img {
    width: 50%;
    position: relative;
    top: 350px;
    right: 550px !important;
    max-width: 280px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .me {
    width: 50% !important;
  }
  .me .about {
    width: 150% !important;
    position: relative !important;
    left: 125px !important;
    bottom: -50px !important;
  }
  .me .about h1 {
    font-size: 40px !important;
  }
  .me .my-img {
    width: 50%;
    position: relative;
    top: 280px;
    right: 280px !important;
    max-width: 280px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .img_size {
    width: 110%;
    height: 110%;
  }
  .me {
    width: 50%;
  }
  .me .about {
    width: 90% !important;
  }
  .me .about h1 {
    font-size: 40px !important;
  }
  .me .my-img {
    width: 50%;
    position: relative;
    top: 330px;
    right: 690px;
    max-width: 280px;
  }
}
@media print and (min-width: 1200px) {
  *,
  *::before,
  *::after {
    text-shadow: none;
    box-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body,
  .container {
    min-width: 992px;
  }
  .navbar {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */