* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.hire, .img_size:hover {
  transform: scale(1.2, 1.1);
  -webkit-transform: scale(1.2, 1.1);
  -moz-transform: scale(1.2, 1.1);
  -ms-transform: scale(1.2, 1.1);
  -o-transform: scale(1.2, 1.1);
}

.loading-img:hover, .i_icone:hover {
  transform: scale(1.2, 1.1);
  -webkit-transform: scale(1.2, 1.1);
  -moz-transform: scale(1.2, 1.1);
  -ms-transform: scale(1.2, 1.1);
  -o-transform: scale(1.2, 1.1);
}

.dark, .dark h2, .light, .label, .label .ball {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  box-shadow: inset 0 0 5px #06223d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06223d;
}

.hire {
  animation: zoom-in-zoom-out 1s ease infinite;
  -webkit-animation: zoom-in-zoom-out 1s ease infinite;
}

.CV {
  color: #86e682;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.one-quarter {
  margin-top: auto;
}

.checkbox {
  opacity: 0;
}

.dark {
  color: #86e682 !important;
  background: #041527;
  filter: alpha(opacity=70);
  animation-fill-mode: both;
}

.dark h2 {
  color: #86e682 !important;
  filter: alpha(opacity=70);
  animation-fill-mode: both;
}

.dark .shadowimg {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.161), 0 17px 50px 0 rgba(255, 255, 255, 0.194) !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb {
  background: #86e682;
}

.light {
  filter: alpha(opacity=90) !important;
  animation-fill-mode: both;
  -webkit-filter: alpha(opacity=90) !important;
}

.light .shadowimg {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.563), 0 17px 50px 0 rgba(0, 0, 0, 0.563);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fa-moon-o {
  color: #fff;
}

.fa-sun-o {
  color: #caff37;
}

.label {
  position: fixed;
  box-sizing: border-box;
  background-color: rgba(135, 231, 132, 0.275);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  margin: auto;
  text-align: center;
}

.label .ball {
  position: fixed;
  box-sizing: border-box;
  background-color: #86e682;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
}

.label .ball:blank {
  background-color: black;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.loading-img:hover {
  margin-left: 50px;
}

/* Close shadow in dark mode if it has the light class */
.dark.light.shadowimg {
  box-shadow: none;
}

.img_size {
  width: 130%;
  height: 130%;
}

.img_size:hover {
  animation: zoom-in-zoom-out 5s ease infinite;
  -webkit-animation: zoom-in-zoom-out 5s ease infinite;
}

.a_go:hover {
  color: #86e682;
  text-decoration: none;
  box-shadow: 0px 0px 30px rgba(133, 230, 130, 0.282);
  border: none;
}

.i_icone:hover {
  color: #86e682;
  border: none;
}
